body{
  scroll-behavior: smooth;
  margin: 0px 35px;
}
.App {
  text-align: center;
  overflow-x: hidden;
  
}

.app__form{
  padding:20px;
  position:fixed;
  bottom:-30px;
  left:50%;
  z-index: 1;
  width:90%;
  min-width: 0%;
  transform: translate(-50%,-50%);
  background-color: rgb(233, 231, 231) !important;
}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__iconButton{
  flex-grow:0 !important;
}
.app__input{
  flex-grow:1 !important;
}
@media only screen and (max-width: 700px) {
  body {

    margin: 0px;
  }
  
}
